---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { colors, background } from '../constants/styles.js'
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      http-equiv='X-UA-Compatible'
      content='IE=edge'
    />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <link
      rel='icon'
      href='/img/favicon.ico'
    />
    <title>Facucarrion Dev</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style define:vars={{ ...colors, background }} is:global>
  @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

  * {
    padding: 0;
    margin: 0;
    color: #efe;
    font-family: Titillium Web, system-ui, -apple-system,
      BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
      Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
  }

  html {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--primaryColor);
    background-image: var(--background);
  }

  body {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
  }

  body::before {
    content: '';
    background: #ffe13420;
    filter: blur(100px);
    width: 300px;
    height: 300px;
    position: absolute;
    left: -50px;
    top: 50px;
    z-index: -1;
  }
  main {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
</style>
