---
import { SearchIcon } from './Icons'
import { colors } from '../../styles/vars'
---

<form class='search'>
  <input
    type='text'
    class='search__term'
    placeholder='What are you looking for?'
  />
  <button
    type='submit'
    class='search__button'
  >
    <SearchIcon />
  </button>
</form>

<style is:global define:vars={{ ...colors }}>
  .search {
    width: 300px;
    height: 40px;
    position: relative;
    display: flex;
  }

  .search__term {
    width: 100%;
    padding: 5px;
    border: 3px solid var(--secondaryColor);
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
  }

  .search__term:focus {
    color: var(--lightColor);
  }

  .search__button {
    width: 40px;
    height: 40px;
    border: 1px solid var(--secondaryColor);
    background: var(--secondaryColor);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search__icon:hover {
    transform: scale(1.2);
  }
</style>
